<%- include("./../partials/head") %>
<link rel="stylesheet" href="/css/count.css" />
<link rel="stylesheet" href="/css/events.css" />
<%- include("./../partials/Navbar") %>

<body class="Evepg">
  <div class="main">
    <h1 class="eventTitle">Event Will Start In</h1>
    <div id="countdown" class="countdown">
      <div class="time">
        <h2 id="days"></h2>
        <small>Days</small>
      </div>
      <div class="time">
        <h2 id="hours"></h2>
        <small>Hours</small>
      </div>
      <div class="time">
        <h2 id="minutes"></h2>
        <small>Minutes</small>
      </div>
      <div class="time">
        <h2 id="seconds"></h2>
        <small>Seconds</small>
      </div>
    </div>
  </div>
  <br />
  <div class="eve1">
    <img class="eve1img" src="/Images/ISA.png" alt=".." />

    <div class="evedetails">
      <h2 style="text-align: center">IOT BOOTCAMP</h2>
      Time - 3:30 pm to 5 pm
      <br />
      <br />
      Venue - Offline <br />
      <br />
      Description - This bootcamp will cover : Fundamentals of Microcontrollers,
      Introduction to ISA shield, Projects such as voice controlled
      LED,Bluetooth controlled robot and many more... <br />
      <br />
      Co-ordinators - Madhure Phadge (+918999041433) , Esha Kadam
      (+917045201495)
    </div>
  </div>
  <script>
    const days = document.getElementById("days");
    const hours = document.getElementById("hours");
    const minutes = document.getElementById(`minutes`);
    const seconds = document.getElementById("seconds");

    const evetime = new Date(`25 April 2022  00:00:00`);

    function updateCountdown() {
      const currentTime = new Date();
      const diff = evetime - currentTime;

      const d = Math.floor(diff / 1000 / 60 / 60 / 24);
      const h = Math.floor(diff / 1000 / 60 / 60) % 24;
      const m = Math.floor(diff / 1000 / 60) % 60;
      const s = Math.floor(diff / 1000) % 60;

      days.innerHTML = d;
      hours.innerHTML = h < 10 ? "0" + h : h;
      minutes.innerHTML = m < 10 ? "0" + m : m;
      seconds.innerHTML = s < 10 ? "0" + s : s;
    }

    setInterval(updateCountdown, 1000);
  </script>
</body>
