<%- include("./../partials/head") %>
<link rel="stylesheet" href="/css/count.css" />
<link rel="stylesheet" href="/css/events.css" />
<%- include("./../partials/Navbar") %>

<body class="Evepg">
  <div class="main">
    <h1 class="eventTitle">Event Will Start In</h1>
    <div id="countdown" class="countdown">
      <div class="time">
        <h2 id="days"></h2>
        <small>Days</small>
      </div>
      <div class="time">
        <h2 id="hours"></h2>
        <small>Hours</small>
      </div>
      <div class="time">
        <h2 id="minutes"></h2>
        <small>Minutes</small>
      </div>
      <div class="time">
        <h2 id="seconds"></h2>
        <small>Seconds</small>
      </div>
    </div>
  </div>
  <div class="eve1">
    <img class="eve1img" src="/Images/CSI.jpeg" alt=".." />
    <div class="evedetails">
      <h2 style="text-align: center">REACTJs & MATERIAL-UI</h2>
      Time - 11 am to 1 pm
      <br />
      <br />
      Venue - Offline <br />
      <br />
      Description - <br />
      <br />
      Co-ordinators - NA
    </div>
  </div>
  <script src="/js/count.js"></script>
</body>
