
<link rel="stylesheet" href="/css/footer.css">
<footer>
  <div class="footer py-3 bottom-details mt-auto"><!-- py-3 fixed bottom -->
    <div class="bottom_text">
      <span class="copyright_text">Copyright <sup>©</sup> 2022 All rights reserved </span>
      <span class="policy_terms">
        <a href="#">Privacy policy</a>
        <a href="#">Terms & condition</a>
      </span>
    </div>
  </div>
</footer>
