
  <head>
    <title>Review</title>

    <style>
      .review {
        float: right;
        background: rgb(10, 133, 152) ;
        height: auto;
        width: 270px;
        border-radius: 15px;
        margin: auto;
        padding: 10px;
        margin-top: 30px;
        box-shadow: 5px 5px 5px #32917d;
        align-items: center;
      }

      .review__items {
        align-items: center;
        justify-content: space-evenly;
        width: 250px;
        padding: 10px;
        align-items: center;
      }

      .review__items img {
        height: 250px;
        width: 250px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 15px;
      }

      .review__items h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
      }

      .review__items p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
      }

      .review__button {
        text-align: center;
        padding: 10px;
      }

      .review__button button {
        color: rgb(192, 229, 192);
        background: green;
        font-weight: bold;
      }

      .review__items {
        display: none;
      }
    </style>
  </head>

  <body>
    <div class="review float-sm-right">
      <div class="review__items">
        <img src="Ae chirag link add kr" />
        <h1>Consolidate</h1>
        <p>
          Kumbhojkar book was really useful but that chief techincal officer of
          this is site chirag although is 20 yo but looks like 50+ person
        </p>
      </div>

      <div class="review__items">
        <img src="Chirag link add krde" />
        <h1>Techmax helpful</h1>
        <p>
          Techmax answers are really short but adequate.Really thanks
          consolidate for resources.
        </p>
      </div>

      <div class="review__items">
        <img src="Link add kr chirag" />
        <h1>Hello there!</h1>
        <p>
          Kshirshagar book is really detailed.700+ pages for single subject is
          just too much
        </p>

        <p></p>
      </div>

      <div class="review__button">
        <button id="prev" onclick="previousReview()">PREV</button>

        <button id="next" onclick="nextReview()">NEXT</button>
      </div>
    </div>

    <script>
      let rev = 0;
      carousel(rev);

      function previousReview() {
        rev = rev - 1;
        carousel(rev);
      }

      function nextReview() {
        rev = rev + 1;
        carousel(rev);
      }

      function carousel(review) {
        let reviews = document.getElementsByClassName("review__items");

        if (review >= reviews.length) {
          review = 0;
          rev = 0;
        }
        if (review < 0) {
          review = reviews.length - 1;
          rev = reviews.length - 1;
        }
        for (let i = 0; i < reviews.length; i++) {
          reviews[i].style.display = "none";
        }
        reviews[review].style.display = "block";
      }
    </script>
  </body>
</html>