<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="shortcut icon" href="#">
   <link
      href="/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script
      src="/js/popper.min.js"
    ></script>
    <script
      src="/js/bootstrap.min.js"
    ></script>
    <!-- Load an icon library  -->
    <link
      rel="stylesheet"
      href="/css/font-awesome.min.css"
    />
    <title>About Us</title>
  </head>
  <%- include("partials/Navbar") %>
  <body>
    <div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title2">
					<h1>About Us</h1>
				</div>
				<div class="content">
					<h3>Curriculum-Based-System </h3>
					<p>This is a TE Mini Project. The Objective of this project is to provide a system that helps students in their studies by providing various resources, notes, e-books and courses. Our group of four will be creating a website using HTML5,CSS,JS, MongoDB and Node.js.</p>
					<div class="button">
						<a href="">Read More</a>
					</div>
				</div>
				<div class="social">
					<a href=""><i class="fab fa-facebook-f"></i></a>
					<a href=""><i class="fab fa-twitter"></i></a>
					<a href=""><i class="fab fa-instagram"></i></a>
				</div>
			</div>
			<div class="image-section">
				<img src="/Images/Abgpic2.jpg">
			</div>
		</div>
	</div>
  </body>
  <%- include("partials/footer") %>
</html>
