<%- include("partials/head") %>
<body>
        <div class="container d-flex ">
        <center class="MOTTO">
          EVERYTHING <br />
          AT
          <br />
          ONE PLACE
        </center>
       </div> 
       <form action="/" action="GET">
           <button type="submit" class="btn btn-success">Start</button>
       </form>
</body>
</html>
