<%- include("partials/head") %>
<body class="homeani">
        <div class="container d-flex ">
        <center class="MOTTO">
          EVERYTHING <br />
          AT
          <br />
          ONE PLACE
        </center>
       </div> 
       <form  class="start-form" action="/" action="GET">
           <button class="start" type="submit" class="btn btn-success">Start</button>
       </form>
</body>
</html>
