<%- include("partials/head") %>
<body class="display">
<%- include("partials/Navbar") %>
        <div class="container">
        <center class="MOTO">
          EVERYTHING <br />
          AT
          <br />
          ONE PLACE
        </center>
      </div>
      <!-- <h3 class="text-center">Welcome</h3>
    <h3 class="text-center"><%= name%>!</h3> -->
</body>
</html>
