<%- include("partials/head") %>
<body class="display">
<%- include("partials/Navbar") %>
        <div class="container d-flex">
        <center class="MOTO">
          EVERYTHING <br />
          AT
          <br />
          ONE PLACE
        </center>
       </div> 
      <!-- <%- include("partials/review") %>  -->
</body>
<%- include("partials/footer") %>
</html>
