<%- include("partials/head") %>
<body class="linkdisplay">
<%- include("partials/Navbar") %>
<body>
  <nav class="filter navbar navbar-expand-lg navbar-dark ">
    <div class="filter-links">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            COURSE
          </a>
            <ul class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenuButton">
              <li> 
                <a class="dropdown-item" href="#">Web Development</a>
              </li>
              <li> 
                <a class="dropdown-item" href="#">ML</a>
              </li>
            </ul>
        </li>
  
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            PRICE
          </a>
            <ul class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenuButton">
              <li> 
                <a class="dropdown-item" href="#">Free</a>
              </li>
              <li> 
                <a class="dropdown-item" href="#">Paid</a>
              </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            PLATFORM
          </a>
            <ul class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenuButton">
              <li> 
                <a class="dropdown-item" href="#">UDEMY</a>
              </li>
              <li> 
                <a class="dropdown-item" href="#">COURSERA</a>
              </li>
              <li> 
                <a class="dropdown-item" href="#">NPTEL</a>
              </li>
              <li> 
                <a class="dropdown-item" href="#">UDACITY</a>
              </li>
            </ul>
        </li>
      </ul>
    </div>
      </nav>
<h2 class="title" >Web Development</h2>
   <div class="row m-1">
    <div class="col-sm-3 title3">
      <div class="card">
        <img src="Images/CodewithHarry.png" class="card-img-top" alt="..." >
        <div class="card-body">
          <h5 class="card-title">Web Development</h5>
          <p class="card-text">HTML,CSS,Js,MongoDB</p>
          <p class="card-text">By <a href="https://www.youtube.com/c/CodeWithHarry" target="YT CodeWithHarry">@CodeWithHarry</a> </p>
          <a href="https://youtube.com/playlist?list=PLu0W_9lII9agiCUZYRsvtGTXdxkzPyItg" target="YT 1"class="btn btn-primary">Course Link</Link></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3  title3">
      <div class="card">
        <img src="Images/Colt Steele.png" class="card-img-top" alt="..." >
        <div class="card-body">
          <h5 class="card-title">Web Development Bootcamp 2021</h5>
          <p class="card-text">HTML, CSS, JS, Node, and More! <span style="color: red;">* Paid Course </span> </p>
          <p class="card-text">By <a href="https://www.youtube.com/c/ColtSteeleCode/featured" target="YT ColtSteele">@ColtSteele</a> </p>
          <a href="https://www.udemy.com/share/101W923@3j3rpslkDTAQcaNQhnYrBsmST8rz1n-yvBoZpIe4a1Rqdib6vytY_y8BG2JCCODz9g==/" target="Yt 2" class="btn btn-primary">Course Link</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3  title3">
        <div class="card">
          <img src="Images/Apna College.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Web Development Course</h5>
            <p class="card-text">HTML, CSS, Js</p>
            <p class="card-text">By <a href="https://www.youtube.com/channel/UCBwmMxybNva6P_5VmxjzwqA" target="YT ApnaClg">@Apna College</a> </p>
            <a href="https://youtube.com/playlist?list=PLfqMhTWNBTe3H6c9OGXb5_6wcc1Mca52n" class="btn btn-primary" target="YT 3">Course Link</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3  title3">
        <div class="card">
          <img src="Images/Edureka.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Web Development - 10 Hours</h5>
            <p class="card-text">HTML,CSS,Js,ReactJs.</p>
            <p class="card-text">By <a href="https://www.youtube.com/channel/UCkw4JCwteGrDHIsyIIKo4tQ" target="YT Edureka">@Edureka</a></p>
            <a href="https://youtu.be/Q33KBiDriJY " class="btn btn-primary" target="YT 4">Course Link</a>
          </div>
        </div>
      </div>
  </div>

  <h2 class="display-2 title" >Artificial Intelligence</h2>
  <div class="row m-2">
   <div class="col-sm-2 title2">
     <div class="card">
       <img src="C:\Users\Kunal\OneDrive\Desktop\Curiculum bas\edureka.png" class="card-img-top" alt="..." >
       <div class="card-body">
         <h5 class="card-title">Artificial Intelligence</h5>
         <p class="card-text">Artificial Intelligence Full Course for Beginners</p>
         <p class="card-text">By <a href="https://youtube.com/c/edurekaIN" target="YT Edureka">@edureka!</a> </p>
         <a href="https://youtube.com/playlist?list=PLu0W_9lII9agiCUZYRsvtGTXdxkzPyItg" target="YT 1"class="btn btn-primary">Course Link</Link></a>
       </div>
     </div>
   </div>
   <div class="col-sm-3  title3">
     <div class="card">
       <img src="C:\Users\Kunal\OneDrive\Desktop\Curiculum bas\holczer.png" class="card-img-top" alt="..." >
       <div class="card-body">
         <h5 class="card-title">Artificial Intelligence Course</h5>
         <p class="card-text">Artificial Intelligence 1-Meta-Heuristics  <span style="color: red;">* Paid Course </span> </p>
         <p class="card-text">By <a href="https://www.udemy.com/course/artificial-intelligence-games-in-java/#instructor-1" target="Ud Holczer Balazs">@holczer Balazs</a> </p>
         <a href="https://www.udemy.com/course/artificial-intelligence-games-in-java/" target="Ud 2" class="btn btn-primary">Course Link</a>
       </div>
     </div>
   </div>
   <div class="col-sm-3  title3">
       <div class="card">
         <img src=C:\Users\Kunal\OneDrive\Pictures\Saved Pictures\simplilearn.jfif"" class="card-img-top" alt="...">
         <div class="card-body">
           <h5 class="card-title">Artificial Intelligence Full Course</h5>
           <p class="card-text">Future Of AI</p>
           <p class="card-text">By <a href="https://youtube.com/c/SimplilearnOfficial" target="YT Simplilearn">@Simplilearn</a> </p>
           <a href="https://youtu.be/wnqkfpCpK1g" class="btn btn-primary" target="YT 2">Course Link</a>
         </div>
       </div>
     </div>
         </div>
         <h2 class="display-1 title" >Cloud Computing</h2>
   <div class="row m-3">
    <div class="col-sm-2 title2">
      <div class="card">
        <img src="C:\Users\Kunal\OneDrive\Pictures\Saved Pictures\simplilearn.jfif" class="card-img-top" alt="..." >
        <div class="card-body">
          <h5 class="card-title">Cloud Computing Full Course</h5>
          <p class="card-text">Complete Understanding of cloud computing domain</p>
          <p class="card-text">By <a href="https://youtube.com/c/SimplilearnOfficial" target="YT SimplilearnOfficial">@SimplilearnOfficial</a> </p>
          <a href="https://youtu.be/EN4fEbcFZ_E" target="YT 1"class="btn btn-primary">Course Link</Link></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3  title3">
        <div class="card">
          <img src="C:\Users\Kunal\OneDrive\Desktop\Curiculum bas\edureka.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cloud Computing with AWS and azure covered</h5>
            <p class="card-text">AWS and azure</p>
            <p class="card-text">By <a href="https://youtube.com/c/edurekaIN" target="YT Edureka">@edureka!</a> </p>
            <a href="https://youtu.be/2LaAJq1lB1Q" class="btn btn-primary" target="YT 2">Course Link</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3  title3">
        <div class="card">
          <img src="Images/Edureka.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">CLoud Computing-12 hour course</h5>
            <p class="card-text">Google cloud platform,Amazon Web.</p>
            <p class="card-text">By <a href="https://youtube.com/c/GreatLearningOfficial" target="YT Great GreatLearningOfficial">@GreatLearningOfficial</a></p>
            <a href="https://youtu.be/-8O32k26RWA" class="btn btn-primary" target="YT 3">Course Link</a>
          </div>
        </div>
      </div>
  </div>
  <h2 class="display-1 title" >Game Development</h2>
   <div class="row m-1">
    <div class="col-sm-3 title3">
      <div class="card">
        <img src="Pic dalo" class="card-img-top" alt="..." >
        <div class="card-body">
          <h5 class="card-title">Game Development</h5>
          <p class="card-text">Unity Game development for total beginners</p>
          <p class="card-text">By <a href="https://youtube.com/c/Freecodecamp" target="YT FreeCodeCamp">@Freecodecamp</a> </p>
          <a href="https://youtu.be/gB1F9G0JXOo" target="YT 1"class="btn btn-primary">Course Link</Link></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3  title3">
        <div class="card">
          <img src="I" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Game Development Course</h5>
            <p class="card-text">Complete Game development course</p>
            <p class="card-text">By <a href="https://youtube.com/c/FarhanAqeel" target="YT FarhanAqeel">@FarhanAqeel</a> </p>
            <a href="https://youtube.com/playlist?list=PLBh8phtAyHPUY9fqgs1w6aHJALJ3_fMSc" class="btn btn-primary" target="YT 2">Course Link</a>
          </div>
        </div>
      </div>
  </div>
<!-- <%- include("partials/footer") %> -->
</html>
</body>
<!-- <%- include("partials/footer") %> -->
</html>