<%- include("partials/head") %>
<body class="display">
<%- include("partials/Navbar") %>
<body>
    <!-- <br><br>
   <div id="C1">
    <b>Web Development</b>        
   </div>
<br> -->
<h2 class="display-1 title" >Web Development</h2>
   <div class="row m-1">
    <div class="col-sm-3 title3">
      <div class="card">
        <img src="Images/CodewithHarry.png" class="card-img-top" alt="..." >
        <div class="card-body">
          <h5 class="card-title">Web Development</h5>
          <p class="card-text">HTML,CSS,Js,MongoDB</p>
          <p class="card-text">By <a href="https://www.youtube.com/c/CodeWithHarry" target="YT CodeWithHarry">@CodeWithHarry</a> </p>
          <a href="https://youtube.com/playlist?list=PLu0W_9lII9agiCUZYRsvtGTXdxkzPyItg" target="YT 1"class="btn btn-primary">Course Link</Link></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3  title3">
      <div class="card">
        <img src="Images/Colt Steele.png" class="card-img-top" alt="..." >
        <div class="card-body">
          <h5 class="card-title">Web Development Bootcamp 2021</h5>
          <p class="card-text">HTML, CSS, JS, Node, and More! <span style="color: red;">* Paid Course </span> </p>
          <p class="card-text">By <a href="https://www.youtube.com/c/ColtSteeleCode/featured" target="YT ColtSteele">@ColtSteele</a> </p>
          <a href="https://www.udemy.com/share/101W923@3j3rpslkDTAQcaNQhnYrBsmST8rz1n-yvBoZpIe4a1Rqdib6vytY_y8BG2JCCODz9g==/" target="Yt 2" class="btn btn-primary">Course Link</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3  title3">
        <div class="card">
          <img src="Images/Apna College.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Web Development Course</h5>
            <p class="card-text">HTML, CSS, Js</p>
            <p class="card-text">By <a href="https://www.youtube.com/channel/UCBwmMxybNva6P_5VmxjzwqA" target="YT ApnaClg">@Apna College</a> </p>
            <a href="https://youtube.com/playlist?list=PLfqMhTWNBTe3H6c9OGXb5_6wcc1Mca52n" class="btn btn-primary" target="YT 3">Course Link</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3  title3">
        <div class="card">
          <img src="Images/Edureka.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Web Development - 10 Hours</h5>
            <p class="card-text">HTML,CSS,Js,ReactJs..</p>
            <p class="card-text">By <a href="https://www.youtube.com/channel/UCkw4JCwteGrDHIsyIIKo4tQ" target="YT Edureka">@Edureka</a></p>
            <a href="https://youtu.be/Q33KBiDriJY " class="btn btn-primary" target="YT 4">Course Link</a>
          </div>
        </div>
      </div>
  </div>

<!-- <div id="C3">
   <b>Languages</b> 
</div>
<br>
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <img src="/Images/Logo.png " class="card-img-top" alt="..." >
        <div class="card-body">
          <h5 class="card-title">Web Development</h5>
          <p class="card-text">By Colt Steele</p>
          <a href="#" class="btn btn-primary">Course Link</Link></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img src="/Images/Logo.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
          <img src="/Images/Logo.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <img src="/Images/Logo.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
  </div> -->


</body>
</html>