<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<!-- Load an icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
    <%- include("partials/Navbar") %>
  <!-- <aside>
    <h2>Table of Contents</h2>
 
  </aside> -->
  <body>
    <h2 class="display-1" style="text-align: center">Notes</h2>
    <h2 style="text-align: center">Branches</h2>

    <section class="container">
      <h3 style="padding: 15px">Select your Branch:</h3>
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Computer Engineering [CS]</h5>
              <p class="card-text">
                The Study Material provided here is based on the CS syllabus
                provided by Mumbai University Only.
              </p>
              <div class="dropdown">
                <a
                  class="btn btn-secondary dropdown-toggle"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Select Semester
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li>
                    <a class="dropdown-item" href="Sem1.html">Semester I</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="Sem2.html">Semester II</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="CsSem3.html">Semester III</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="CsSem4.html">Semester IV</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="CsSem5.html">Semester V</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="CsSem6.html">Semester VI</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="CsSem7.html">Semester VII</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="CsSem8.html"
                      >Semester VIII</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Information Technology [IT]</h5>
              <p class="card-text">
                The Study Material provided here is based on the IT syllabus
                provided by Mumbai University Only.
              </p>
              <div class="dropdown">
                <a
                  class="btn btn-secondary dropdown-toggle"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Select Semester
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li>
                    <a class="dropdown-item" href="Sem1.html">Semester I</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="Sem2.html">Semester II</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester III</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester IV</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester V</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester VI</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester VII</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester VIII</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                Electronics and Telecommunications [EXTC]
              </h5>
              <p class="card-text">
                The Study Material provided here is based on the EXTC syllabus
                provided by Mumbai University Only.
              </p>
              <div class="dropdown">
                <a
                  class="btn btn-secondary dropdown-toggle"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Select Semester
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li>
                    <a class="dropdown-item" href="Sem1.html">Semester I</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="Sem2.html">Semester II</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester III</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester IV</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester V</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester VI</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester VII</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester VIII</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Electronics [ETRX]</h5>
              <p class="card-text">
                The Study Material provided here is based on the ETRX syllabus
                provided by Mumbai University Only.
              </p>
              <div class="dropdown">
                <a
                  class="btn btn-secondary dropdown-toggle"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Select Semester
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li>
                    <a class="dropdown-item" href="Sem1.html">Semester I</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="Sem2.html">Semester II</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester III</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester IV</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester V</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester VI</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester VII</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester VIII</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Instrumentation Technology [INST]</h5>
              <p class="card-text">
                The Study Material provided here is based on the INST syllabus
                provided by Mumbai University Only.
              </p>
              <div class="dropdown">
                <a
                  class="btn btn-secondary dropdown-toggle"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Select Semester
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li>
                    <a class="dropdown-item" href="Sem1.html">Semester I</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="Sem2.html">Semester II</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester III</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester IV</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester V</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester VI</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester VII</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester VIII</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- 
        Notes
 
           -PDF
           -Ebooks(Links)
           -Cheat Sheet on Semester Subjects -->
      </div>
    </section>
  </body>
</html>
