<%- include("partials/head") %>
<body class="display">
    <%- include("partials/Navbar") %>
  <body>
    <h2 class="display-1 title">Notes</h2>
    <h2 class="title">Branches</h2>

    <section class="container">
      <h3 style="padding: 15px" class="title2">Select your Branch:</h3>
      <div class="row">
        <div class="col-sm-4 mb-2">
          <div class="card">
            <div class="card-body title3">
              <h5 class="card-title">Computer Engineering [CS]</h5>
              <p class="card-text">
                The Study Material provided here is based on the CS syllabus
                provided by Mumbai University Only.
              </p>
              <div class="dropdown">
                <a
                  class="btn btn-secondary dropdown-toggle"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Select Semester
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li>
                    <a class="dropdown-item" href="/Sem1">Semester I</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/Sem2">Semester II</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="CsSem3.html">Semester III</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="CsSem4.html">Semester IV</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="CsSem5.html">Semester V</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="CsSem6.html">Semester VI</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="CsSem7.html">Semester VII</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="CsSem8.html"
                      >Semester VIII</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4  mb-2">
          <div class="card">
            <div class="card-body title3">
              <h5 class="card-title">Information Technology [IT]</h5>
              <p class="card-text">
                The Study Material provided here is based on the IT syllabus
                provided by Mumbai University Only.
              </p>
              <div class="dropdown">
                <a
                  class="btn btn-secondary dropdown-toggle"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Select Semester
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li>
                    <a class="dropdown-item" href="Sem1.html">Semester I</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="Sem2.html">Semester II</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester III</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester IV</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester V</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester VI</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester VII</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester VIII</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4  mb-2">
          <div class="card">
            <div class="card-body title3">
              <h5 class="card-title">
                Electronics and Telecommunications [EXTC]
              </h5>
              <p class="card-text">
                The Study Material provided here is based on the EXTC syllabus
                provided by Mumbai University Only.
              </p>
              <div class="dropdown">
                <a
                  class="btn btn-secondary dropdown-toggle"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Select Semester
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li>
                    <a class="dropdown-item" href="Sem1.html">Semester I</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="Sem2.html">Semester II</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester III</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester IV</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester V</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester VI</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester VII</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester VIII</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4  mb-2">
          <div class="card">
            <div class="card-body title3">
              <h5 class="card-title">Electronics [ETRX]</h5>
              <p class="card-text">
                The Study Material provided here is based on the ETRX syllabus
                provided by Mumbai University Only.
              </p>
              <div class="dropdown">
                <a
                  class="btn btn-secondary dropdown-toggle"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Select Semester
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li>
                    <a class="dropdown-item" href="Sem1.html">Semester I</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="Sem2.html">Semester II</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester III</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester IV</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester V</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester VI</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester VII</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester VIII</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 mb-2">
          <div class="card">
            <div class="card-body title3">
              <h5 class="card-title">Instrumentation Technology [INST]</h5>
              <p class="card-text">
                The Study Material provided here is based on the INST syllabus
                provided by Mumbai University Only.
              </p>
              <div class="dropdown">
                <a
                  class="btn btn-secondary dropdown-toggle"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Select Semester
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li>
                    <a class="dropdown-item" href="Sem1.html">Semester I</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="Sem2.html">Semester II</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester III</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester IV</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester V</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester VI</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester VII</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Semester VIII</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <%- include("partials/footer") %>
</html>
