<% layout('layouts/boilerplate') %>
<h1 class="text-center">Profile Updated </h1>
<div class="container d-flex flex-column">
        <div class="form-group col-md-6">
            <label for="name">Name</label>
            <input
                required
                value="<%= user.name %>"
                type="text"
                name="user[name]"
                id="name"
                class="form-control"
            />
        </div>
        <div class="form-group col-md-6">
            <label for="email">email</label>
            <textarea name="user[email]" id="email" class="form-control" cols="10"><%= user.email %></textarea
            >
        </div>
        <div class="form-group col-md-6">
            <label for="gender">Gender</label>
            <textarea required name="user[gender]" id="gender" class="form-control"><%= user.gender %></textarea>
        </div>
</div>