<%- include("partials/head") %>
<body class="display">
    <%- include("partials/Navbar") %>
    <div class="display-1 text-center title">Semester I</div>
    <section class="container">
      <h3 style="padding: 15px" class="title2">Available Study Material</h3>
      <div class="row">
        <!-- Cards starts -->
        <div class="col-md-4 mb-2">
          <div class="card">
            <div class="card-body title3">
              <h5 class="card-title">Engineering Mathematics-I [EM-I]</h5>
              <p class="card-text">
                The Study Material provided here is based on the CS syllabus
                provided by Mumbai University Only.
              </p>

              <div class="dropdown m-1 col-md-6">
                <a
                  class="btn btn-primary dropdown-toggle"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Books Available
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://drive.google.com/file/d/1raUh3MUmkaDjz4p53EyxbsPdQvPUp-gc/view?usp=drivesdk"
                      >Kumbhojkar(Complex Numbers Only)</a
                    >
                  </li>
                </ul>
              </div>

              <a
                class="btn btn-secondary m-1 col-md-6"
                href="https://media.discordapp.net/attachments/807459467330846720/807506425315196982/Screenshot_2021-02-06-12-31-57-89.jpg?width=341&height=587"
                role="button"
                aria-expanded="false"
                >Syllabus Overview</a
              >
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-2">
          <div class="card">
            <div class="card-body title3">
              <h5 class="card-title">Engineering Chemistry-I [EC-I]</h5>
              <p class="card-text">
                The Study Material provided here is based on the CS syllabus
                provided by Mumbai University Only.
              </p>
              <div class="dropdown m-1 col-md-6">
                <a
                  class="btn btn-primary dropdown-toggle"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Books Available
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://drive.google.com/file/d/1ZMeuSVvJMu5DvoHazK32hmD-wdYam-mO/view?usp=drivesdk"
                      >Jain And Jain</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://drive.google.com/file/d/1ZNSfE15nchyh5PeHeKxV0Qd3htP7qBF_/view?usp=drivesdk"
                      >Engineering Chemistry I</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://drive.google.com/file/d/1-mbx3mE6EJbhmNtQgaOnPq-U8hb7lQEN/view?usp=sharing"
                      >Techmax</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://drive.google.com/file/d/1zfZCeBDjCfiA1w5LPY1P4_NVDrGAFtXp/view?usp=sharing"
                      >Techneo</a
                    >
                  </li>
                </ul>
              </div>

              <a
                class="btn btn-secondary m-1 col-md-6"
                href="https://media.discordapp.net/attachments/807459598473756682/807506953567076372/Screenshot_2021-02-06-12-34-06-01.jpg?width=436&height=587"
                role="button"
                aria-expanded="false"
                >Syllabus Overview</a
              >
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-2">
          <div class="card">
            <div class="card-body title3">
              <h5 class="card-title">Engineering Physics-I [EP-I]</h5>
              <p class="card-text">
                The Study Material provided here is based on the CS syllabus
                provided by Mumbai University Only.
              </p>
              <div class="dropdown m-1 col-md-6">
                <a
                  class="btn btn-primary dropdown-toggle"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Books Available
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://drive.google.com/file/d/1Y9SG_echLxNtF95JL3uBAXuFxhe74bVa/view?usp=drivesdk"
                      >M.D Dayal</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://drive.google.com/file/d/1I3UbQCpNKIs3LzwpttVR5fov8rCD2G8c/view?usp=sharing"
                      >Techneo</a
                    >
                  </li>
                </ul>
              </div>

              <a
                class="btn btn-secondary m-1 col-md-6"
                href="https://media.discordapp.net/attachments/807459549946707991/807506694636437504/Screenshot_2021-02-06-12-32-52-55.jpg?width=263&height=588"
                role="button"
                aria-expanded="false"
                >Syllabus Overview</a
              >
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-2">
          <div class="card">
            <div class="card-body title3">
              <h5 class="card-title">Engineering Mechanics [MECH]</h5>
              <p class="card-text">
                The Study Material provided here is based on the CS syllabus
                provided by Mumbai University Only.
              </p>
              <div class="dropdown m-1 col-md-6">
                <a
                  class="btn btn-primary dropdown-toggle"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Books Available
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://drive.google.com/file/d/1N7TmuwzBcSpMBugxmQKv8ScD-IZcRE7A/view?usp=sharing"
                      >M.D Dayal</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://drive.google.com/file/d/11dqwSHpPAqbPnymjMd6MtRLI6hH_uWXc/view?usp=sharing"
                      >N.H Dubey</a
                    >
                  </li>
                </ul>
              </div>

              <a
                class="btn btn-secondary m-1 col-md-6"
                href="https://media.discordapp.net/attachments/807459684478222366/807507154504122368/Screenshot_2021-02-06-12-34-48-58.jpg?width=369&height=588"
                role="button"
                aria-expanded="false"
                >Syllabus Overview</a
              >
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-2">
          <div class="card">
            <div class="card-body title3">
              <h5 class="card-title">Basic Electrical Engineering [BEE]</h5>
              <p class="card-text">
                The Study Material provided here is based on the CS syllabus
                provided by Mumbai University Only.
              </p>
              <div class="dropdown m-1 col-md-6">
                <a
                  class="btn btn-primary dropdown-toggle"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Books Available
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://drive.google.com/file/d/10BqqAlpq_ckqIoQjoPu87nHcjL7Cqxmh/view?usp=sharing"
                      >B.R Patil</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://drive.google.com/file/d/1Y7uxzon2k13-_n_l-9rEY86tFE4FaIGh/view?usp=drivesdk"
                      >Ravish Singh</a
                    >
                  </li>
                </ul>
              </div>

              <a
                class="btn btn-secondary m-1 col-md-6"
                href="https://media.discordapp.net/attachments/807459755046993920/807507370297131048/Screenshot_2021-02-06-12-35-27-74.jpg?width=448&height=588"
                role="button"
                aria-expanded="false"
                >Syllabus Overview</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <%- include("partials/footer") %>
</html>
