<%- include("partials/head") %>
<body class="display">
    <%- include("partials/Navbar") %>

  <body>
    <div class="display-1 text-center title">Semester II</div>
    <section class="container">
      <h3 style="padding: 15px" class="title2">Available Study Material</h3>
      <div class="row">
        <div class="col-md-4  mb-2">
          <div class="card">
            <div class="card-body  title3">
              <h5 class="card-title">Engineering Mathematics-II [EM-II]</h5>
              <p class="card-text">
                The Study Material provided here is based on the CS syllabus
                provided by Mumbai University Only.
              </p>

              <div class="dropdown m-1 col-md-6">
                <a
                  class="btn btn-primary dropdown-toggle"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Books Available
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://drive.google.com/file/d/12IM94UgYNrbH60gWgL1_QBls6ZKqNbxZ/view?usp=sharing"
                      >G.V Kumbhojkar (16-17)</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://drive.google.com/file/d/12L1v84Z6YlO7yMMb9QhLyELnzeZ4EUW0/view?usp=sharing"
                      >G.V Kumbhojkar Companion</a
                    >
                  </li>
                </ul>
              </div>

              <a
                class="btn btn-secondary m-1 col-md-6"
                href="https://media.discordapp.net/attachments/807459972517462036/807504516466343957/Screenshot_2021-02-06-12-24-21-17.jpg?width=411&height=587"
                role="button"
                aria-expanded="false"
                >Syllabus Overview</a
              >
            </div>
          </div>
        </div>

        <div class="col-md-4  mb-2">
          <div class="card">
            <div class="card-body title3">
              <h5 class="card-title">Engineering Chemistry-II [EC-II]</h5>
              <p class="card-text">
                The Study Material provided here is based on the CS syllabus
                provided by Mumbai University Only.
              </p>
              <div class="dropdown m-1 col-md-6">
                <a
                  class="btn btn-primary dropdown-toggle"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Books Available
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://drive.google.com/file/d/14JDDNWmFsjqTA_baEX54bRPcxJH_pwgt/view?usp=sharing"
                      >Techmax</a
                    >
                  </li>
                </ul>
              </div>

              <a
                class="btn btn-secondary m-1 col-md-6"
                href="https://media.discordapp.net/attachments/807460099886415902/807503823564308520/Screenshot_2021-02-06-12-21-32-94.jpg?width=338&height=588"
                role="button"
                aria-expanded="false"
                >Syllabus Overview</a
              >
            </div>
          </div>
        </div>

        <div class="col-md-4  mb-2">
          <div class="card">
            <div class="card-body title3">
              <h5 class="card-title">Engineering Physics-II [EP-II]</h5>
              <p class="card-text">
                The Study Material provided here is based on the CS syllabus
                provided by Mumbai University Only.
              </p>
              <div class="dropdown m-1 col-md-6">
                <a
                  class="btn btn-primary dropdown-toggle"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Books Available
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://drive.google.com/file/d/1zB581UAA1Sb14ITMr3KrVibmDt4vNg62/view?usp=sharing"
                      >Techmax</a
                    >
                  </li>
                </ul>
              </div>

              <a
                class="btn btn-secondary m-1 col-md-6"
                href="https://media.discordapp.net/attachments/807460036649025536/807504308266467328/Screenshot_2021-02-06-12-23-20-73.jpg?width=311&height=586"
                role="button"
                aria-expanded="false"
                >Syllabus Overview</a
              >
            </div>
          </div>
        </div>

        <div class="col-md-4  mb-2">
          <div class="card">
            <div class="card-body title3">
              <h5 class="card-title">Engineering Graphics</h5>
              <p class="card-text">
                The Study Material provided here is based on the CS syllabus
                provided by Mumbai University Only.
              </p>
              <div class="dropdown m-1 col-md-6">
                <a
                  class="btn btn-primary dropdown-toggle"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Books Available
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://drive.google.com/file/d/12HUesibCwclqHya-2YRhFQcjjO7E8y_9/view?usp=sharing"
                      >N.H Dubey</a
                    >
                  </li>
                </ul>
              </div>

              <a
                class="btn btn-secondary m-1 col-md-6"
                href="https://media.discordapp.net/attachments/807460161618837544/807504861884841994/Screenshot_2021-02-06-12-25-36-91.jpg?width=431&height=587"
                role="button"
                aria-expanded="false"
                >Syllabus Overview</a
              >
            </div>
          </div>
        </div>

        <div class="col-md-4  mb-2">
          <div class="card">
            <div class="card-body title3">
              <h5 class="card-title">C Programming</h5>
              <p class="card-text">
                The Study Material provided here is based on the CS syllabus
                provided by Mumbai University Only.
              </p>
              <div class="dropdown m-1 col-md-6">
                <a
                  class="btn btn-primary dropdown-toggle"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Books Available
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://drive.google.com/file/d/0B2gzOsJVRVVsU205WFA2a0wwazg/view?usp=sharing"
                      >Let Us C by Yashvant Kanetkar</a
                    >
                  </li>
                </ul>
              </div>

              <a
                class="btn btn-secondary m-1 col-md-6"
                href="https://media.discordapp.net/attachments/807460236826771517/807505068106579978/Screenshot_2021-02-06-12-26-26-67.jpg?width=420&height=587"
                role="button"
                aria-expanded="false"
                >Syllabus Overview</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-4  mb-2">
          <div class="card">
            <div class="card-body title3">
              <h5 class="card-title">
                Professional Communication and Ethics I*
              </h5>
              <p class="card-text">
                The Study Material provided here is based on the CS syllabus
                provided by Mumbai University Only.
              </p>

              <a
                class="btn btn-secondary m-1 col-md-6"
                href="https://cdn.discordapp.com/attachments/807460337871486977/807506058100211742/Screenshot_2021-02-06-12-29-36-75.jpg"
                role="button"
                aria-expanded="false"
                >Syllabus Overview</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <%- include("partials/footer") %>
</html>
