@import "cbs.css";

.narticle {
  color: rgb(10, 133, 152);
  font-family: "Stylish", sans-serif;
}

.text1 {
  color: black;
}

body {
  background-color: rgb(255, 255, 255);
}
.card-body {
  background-color: rgba(34, 131, 146, 0.712);
}
.buttons {
  font-family: "Stylish", sans-serif;
  color: rgb(255, 255, 255);
}

.form-group{
  font-size: 25px;
}