@import "cbs.css";
@import 'css2.css';

.narticle {
  color: rgb(0, 0, 0);
  font-family: "Stylish", sans-serif;
  /* margin-top: 10px; */
  font-size: 20px;
  font-weight:bolder;
  
}

.rev{
  display: flex;
    align-items: center;
    justify-content: center;
margin-top: -100px;
}

.showblogdisplay{
  font-family: "Stylish", sans-serif;
}
.notesnew{
  overflow: hidden;
  background-image: url(/Images/Notesnew.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

.narticle2{
  color: rgb(10, 133, 152);
  font-family: "Stylish", sans-serif;
  margin-top: 1em;
  font-size: 20px;

}

.ntitle{
  color: black;
}
.text1 {
  color: black;
}

.notedisplay {
  background: url(/Images/notesbg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-color: rgb(255, 255, 255); */
}


.card-body {
  background-color: rgba(195, 212, 214, 0.712);
  color: black;
  font-size: 20px;
}
.buttons {
  font-family: "Stylish", sans-serif;
  color: rgb(255, 255, 255);
}

.form-group{
  font-size: 25px;
}

.info{
  font-size: 25px;
}

img{
  max-width: 400px;
  max-height: 400px;
}
.blogimg{
  height: 220px;
  /* width: 220px; */
}
.blogwel{
  color: rgb(26, 171, 182) !important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(7, 39, 38);
}

.imgcontent{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
  margin: 3rem;
}
.content{
  justify-content:center;

}
.blog-item {
  margin: 1rem 2rem;
  border-radius: 5px !important;
}

.content{
  text-align: center;
  font-family: 'Simonetta', cursive;
  font-size: 25px;
  color: rgb(70, 192, 14);
}

.filter{ 
  background-color: rgb(255, 255, 255);  
  display: flex ;
  justify-content: center;
  animation: navslide forwards 1s ease 1;
}

@keyframes navslide {
  0%{
transform: translateY(-100px);
  }
  100%{
    transform: translateY(0);
  }
}

.filter-cont{
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
.filter-cont > ul >li {
  margin: 0 3rem;
}
.plus{
  margin-left: 50px;
}

.yrbranch{
  display: flex;
  justify-content: space-between;
  /* margin-right: 400px; */
}

.cancel{
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  /* color: red; */
}

.cancel:hover{
  border: 2px solid rgb(245, 57, 57);
  background-color: rgb(245, 57, 57);
  
}

.save:hover{
  background-color: rgb(65, 255, 65);
  border: 2px solid rgb(65, 255, 65);
}
.save{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 5px;
}

.newblogdisplay{
  background-image: url(/Images/newblog.jpg);
  background-size: cover;
  overflow: hidden;
}

.newblog{
  color:black;
  font-family: "Stylish", sans-serif;
  font-size: 20px;
  font-weight: bold;
}




.editnotesdisplay{
  overflow: hidden;
  background-image: url(/Images/editnotes.jpg);
  background-size: cover;
  
}