@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bangers&family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stylish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");
.display{
  /* background-color: rgba(4, 74, 99, 0.591); */
  /* background-color: rgb(0, 0, 0); */
  background: url(/Images/homebg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  
 
  
}
.title {
  color: rgb(0, 0, 0);
  font-family: "Stylish", sans-serif;
  /* height: 40em; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.title2 {
  color: rgb(10, 133, 152);
  font-family: "Stylish", sans-serif;
  /* height: 40em; */
  display: flex;
}

.title3 {
  color: rgb(10, 133, 152);
  font-family: "Stylish", sans-serif;
  /* height: 40em; */
}

.title4 {
  background-color: aqua !important;
}

.CBStag{
  font-size:12px;
  text-align: center;
  word-spacing: 3px;  
}

.navbar {
  font-family: "Stylish", sans-serif; 
}
.navbar-brand {
  font-family: "Quintessential", cursive;
  color: rgb(0, 0, 0) !important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(5, 147, 142);
}

div.container {
  height: 40em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.MOTTO{
  margin: 0;
  font-family: "Audiowide", cursive;
  letter-spacing: 0.1em;
  font-size: 5.2rem;
  /* color: white; */
  color: rgb(0, 0, 0);
  color: #7ef5ed;
  opacity: 1;
  animation: appear 5s ease forwards;
  background: #7ef5ed7b;
  background: rgba(0, 0, 0, 0.612);
  border-radius: 20px;
  padding: 2rem;
}

.nav-link {
  color: rgb(0, 0, 0) !important;
}

.dropdown-menu {
  background-color: rgb(255, 255, 255) !important;
  
}

.left-align {
  right: 0 !important;
  left: auto !important;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
