/* @import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bangers&family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stylish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap"); */
.display{
  /* background-color: rgba(4, 74, 99, 0.591); */
  /* background-color: rgb(0, 0, 0); */
  background: url(/Images/homebg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.linkdisplay{
  background-color: rgb(100, 98, 98) ;
}
.logo{
  max-width: 60px;
  max-height: 60px;

}
.title {
  color: rgb(0, 0, 0);
  font-family: "Stylish", sans-serif;
  /* height: 40em; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.title2 {
  color: rgb(0, 0, 0);
  font-family: "Stylish", sans-serif;
  /* height: 40em; */
  display: flex;
}

.title3 {
  color: rgb(10, 133, 152);
  font-family: "Stylish", sans-serif;
  /* height: 40em; */
}

.title4 {
  background-color: aqua !important;
}

.CBStag{
  font-size:15px;
  text-align: center;
  word-spacing: 3px;  
}

.navbar {
  font-family: "Stylish", sans-serif; 
}
.navbar-brand {
  font-family: "Quintessential", cursive;
  color: rgb(0, 0, 0) !important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(5, 147, 142);
  margin-left: 30px;
  font-size: 25px !important;
}

div.container {
  height: 40em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.MOTTO{
  margin: 0;
  font-family: "Audiowide", cursive;
  letter-spacing: 0.1em;
  font-size: 5.2rem;
  /* color: white; */
  color: rgb(0, 0, 0);
  color: #7ef5ed;
  opacity: 1;
  animation: appear 5s ease forwards;
  background: #7ef5ed7b;
  background: rgba(0, 0, 0, 0.479);
  border-radius: 20px;
  padding: 2rem;
}

.nav-link {
  color: rgb(0, 0, 0) !important;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.navcenter{
  margin-left: 18%;
  font-size: 20px;
  gap: 50px;
}


.filter{ 
  z-index: 1000;
  background-color: rgb(255, 253, 253);  
  display: flex;
  justify-content: center;
  animation: navslide forwards 1s ease 1;
  gap: 1rem;
}
.filter-links{
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin-left: 30%;
}

@keyframes navslide {
  0%{
transform: translateY(-100px);
  }
  100%{
    transform: translateY(0);
  }
}


.filter-links > ul >li {
  margin: 0 3rem;
}
.dropdown-menu {
  background-color: rgb(255, 255, 255) !important; 
}

.left-align {
  right: 0 !important;
  left: auto !important;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.start-form{
  display: flex;
  justify-content: center;
  margin-top: -30px;
  
}

.start{
  background-color: rgba(17, 17, 17, 0.651);
  color: rgb(255, 255, 255) !important;
  width: 180px;
  height: 60px;
  margin: 20px;
  line-height: 60px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  transition: 0.5s ease;
}

.start:hover{
  border: 1px solid transparent;
  background-color: black;
    /* background: #7a18ec ; */
}
.homeani{
  background-image: url(/Images/stack.jpg);
  background-size: cover;
}
