@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bangers&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
* {
  padding: 0;
  margin:0;
  box-sizing:border-box;
}
.contact{
  background: url(/Images/Cbgpic2.jpg)no-repeat;
  background-size: 100% 100%;
  width:100%;
  height:calc(100vh - 56px);
}
.head{
  background-color:rgb(0, 0, 0);
  border-radius:5px ;
  margin-top:-40px;
  -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: rgb(5, 147, 142);
  -webkit-box-shadow: 10px 22px 27px -12px rgb(5, 147, 142);
-moz-box-shadow: 10px 22px 27px -12px rgb(5, 147, 142);
box-shadow: 10px 22px 27px -12px rgb(5, 147, 142);

}
.CBStag{
  font-size:12px;
  text-align: center;
  word-spacing: 3px;  
}
.navbar {
  font-family: "Stylish", sans-serif; 
}
.navbar-brand {
  font-family: "Quintessential", cursive;
  color: rgb(0, 0, 0) !important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(5, 147, 142);
}
.effect-1{
  border: 0;
  outline: none;
  width:100%;
  padding:7px 0 ;
  border-bottom: 1px solid #ccc;
}
.effect-1 ~ .Focus-border{
  position:absolute;
  bottom:0;
  left: 50%;
  width:0;
  height:2px;
  background-color: rgb(185,19,185);
  transition:0.4s;
}

.left-align {
  right: 0 !important;
  left: auto !important;
}

.nav-link {
  color: rgb(0, 0, 0) !important;
}

.dropdown-menu {
  background-color: rgb(255, 255, 255) !important;
  
}

 .btn1{
  outline:none;
  border-radius: 10px;
  border:none;
  width:125px;
} 
.btn1:hover{
  -webkit-box-shadow: 10px 22px 27px -12px rgb(82, 125, 132);
-moz-box-shadow: 10px 22px 27px -12px rgb(82, 125, 132);
box-shadow: 10px 22px 27px -12px rgb(82, 125, 132);

} 
