@import "cbs2.css";
@import "cbs3.css";
@import "cbs4.css";
* {
  padding: 0;
  margin:0;
  box-sizing:border-box;
}
.logo{
  max-width: 60px;
  max-height: 60px;

}
.contact{
  background: url(/Images/Cbgpic2.jpg)no-repeat;
  background-size: 100% 100%;
  width:100%;
  height:calc(100vh - 56px);
}
.head{
  background-color:rgb(0, 0, 0);
  border-radius:5px ;
  margin-top:-40px;
  -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: rgb(5, 147, 142);
  -webkit-box-shadow: 10px 22px 27px -12px rgb(5, 147, 142);
-moz-box-shadow: 10px 22px 27px -12px rgb(5, 147, 142);
box-shadow: 10px 22px 27px -12px rgb(5, 147, 142);

}
.CBStag{
  font-size:15px;
  text-align: center;
  word-spacing: 3px;  
}
.navbar {
  font-family: "Stylish", sans-serif; 
}
.navbar-brand {
  font-family: "Quintessential", cursive;
  color: rgb(0, 0, 0) !important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(5, 147, 142);
  margin-left: 30px;
  font-size: 25px !important;
}
.navcenter{
  margin-left: 18%;
  font-size: 20px;
  gap: 50px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.effect-1{
  border: 0;
  outline: none;
  width:100%;
  padding:7px 0 ;
  border-bottom: 1px solid #ccc;
}
.effect-1 ~ .Focus-border{
  position:absolute;
  bottom:0;
  left: 50%;
  width:0;
  height:2px;
  background-color: rgb(185,19,185);
  transition:0.4s;
}

.left-align {
  right: 0 !important;
  left: auto !important;
}

.nav-link {
  color: rgb(0, 0, 0) !important;
}

.dropdown-menu {
  background-color: rgb(255, 255, 255) !important;
  
}

.btn1{
  outline:none;
  border-radius: 10px;
  border:none;
  width:125px;
} 
.btn1:hover{
  -webkit-box-shadow: 10px 22px 27px -12px rgb(82, 125, 132);
-moz-box-shadow: 10px 22px 27px -12px rgb(82, 125, 132);
box-shadow: 10px 22px 27px -12px rgb(82, 125, 132);

} 
