@import url('css2.css');


body{
    background-image: url(/Images/Coursenew.jpg);
    background-size: cover;
    overflow-x: hidden;
    font-family: "Stylish", sans-serif;   
    font-size: 20px;
    font-weight: bold;
     /* color: rgb(10, 133, 152); */
}


.allcourse{
    margin-left: 40%;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 20px;
}

.addcoursess{
    font-weight: bold;
}
