@import 'cbs.css';
@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');

body{
	background-color: black !important;
}
.carousel{
    height: 100%;
/* display: flex;
justify-content: center;
align-items: center; */    
}
.carousel-item {
    height: 100%;
    margin-top: 5vh;
}
.carousel-item img{
    width: 33% !important;
    margin: auto;
    height: 100%;

}
.title{
    color: rgb(10, 133, 152) ;
    font-family: 'Stylish', sans-serif;
    /* height: 40em; */
    display: flex;
    align-items: center;
    justify-content: center
}

body{
    background-color: black;
}