<%- include("./../partials/head") %>
<link rel="stylesheet" href="/blog.css">
<body>
  <%- include("./../partials/Navbar") %>
  <div class="container">
    <div class="narticle col-sm-8">
        <h1 class="text-center">New Article</h1>
    <form action="/articles" method="POST">
      <%- include('./../partials/_form_fields') %>
    </form>
    </div>
  </div>
</body>
</html>